.exp {

    &__item {
        margin-bottom: 1rem;
        position: relative;
        font-size: 1.4rem;
        padding-left: 2rem;

        &::before {
            content: "";
            position: absolute;
            top: 0.5rem;
            left: -0.34rem;
            width: 0.8rem;
            height: 0.8rem;
            background: #000;

            transform: rotate(45deg);
        }
    }

    &__speciality-name {
        margin-top: 0.5rem;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.3;
    }

    &__institution-name {
        font-size: 1.5rem;
    }
}