.exp {
  &__item {
    position: relative;
    margin-bottom: 1rem;
    padding-left: 2rem;
    font-size: 1.4rem;

    &:last-child {
      padding-bottom: 0;

      &::after {
        content: "";
        position: absolute;
        left: -0.9rem;
        top: calc(0.35rem + 10px);
        bottom: 0;
        width: 2px;
        background-color: var(--color-white);
        z-index: 2;
      }
    }

    // Точка на линии
    &::before {
      content: "";
      position: absolute;
      top: 0.35rem;
      left: -1.2rem;
      width: 8px;
      height: 8px;
      background-color: var(--color-black);
      z-index: 1;
      transform: rotate(45deg);
    }
  }

  &__speciality {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 600;
    gap: 1rem;

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__speciality-name,
  &__date {
    line-height: 1.3;
  }

  &__institution-name {
    font-size: 1.5rem;
  }

  &__goal-list {
    padding-left: 2rem;
    list-style-type: disc;
  }
}

.education__additional {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 3.6rem;
    bottom: 0;
    left: -0.8rem;
    width: 0;
    border-left: 1px dashed var(--color-black);
  }
}