@import '../animations/animations';

.skills {
    order: 1;
    user-select: none;
    padding-top: 2rem;

    &__title, &__soft-title, &__principles-title {
        padding-top: 1.5rem;
    }

    &__content {
        margin-top: 1rem;
        list-style-type: none;

        @include laptop {
            margin: 0 auto;
            max-width: 50rem;
        }
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.9rem;

        &-title {
            display: flex;
            align-items: center;
        }

        &-time {
            display: flex;
            font-size: 1.5rem;
            color: #808080;
        }

        &::before, &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1rem;
            height: 4px;
        }

        &::before {
            width: 100%;
            background: #dadada;
        }

        &::after {
            background: var(--color-black);
        }

        &--html5::after {
            @include animationSkills(html5);
        }

        &--html5:hover::after {
            @include animationSkills(html5-reverse);
        }

        &--html5:hover .skill__img-icon {
            fill: var(--color-html5);
        }

        &--css3::after {
            @include animationSkills(css3);
        }

        &--css3:hover::after {
            @include animationSkills(css3-reverse);
        }

        &--css3:hover .skill__img-icon {
            fill: var(--color-css3);
        }

        &--js::after {
            @include animationSkills(js);
        }

        &--js:hover::after {
            @include animationSkills(js-reverse);
        }

        &--js:hover .skill__img-icon {
            fill: var(--color-js);
        }

        &--ts::after {
            @include animationSkills(ts);
        }

        &--ts:hover::after {
            @include animationSkills(ts-reverse);
        }

        &--ts:hover .skill__img-icon {
            fill: var(--color-ts);
        }

        &--angular::after {
            @include animationSkills(angular);
        }

        &--angular:hover::after {
            @include animationSkills(angular-reverse);
        }

        &--angular:hover .skill__img-icon {
            fill: var(--color-angular);
        }

        &--webpack::after {
            @include animationSkills(webpack);
        }

        &--webpack:hover::after {
            @include animationSkills(webpack-reverse);
        }

        &--webpack:hover .skill__img-icon {
            fill: var(--color-webpack);
        }

        &--basic::after {
            @include animationSkills(basic);
        }

        &--basic:hover::after {
            @include animationSkills(basic-reverse);
        }

        &--agile::after {
            @include animationSkills(agile);
        }

        &--agile:hover::after {
            @include animationSkills(agile-reverse);
        }

        &--http::after {
            @include animationSkills(http);
        }

        &--http:hover::after {
            @include animationSkills(http-reverse);
        }

        &--git::after {
            @include animationSkills(git);
        }

        &--git:hover::after {
            @include animationSkills(git-reverse);
        }

        &--git:hover .skill__img-icon {
            fill: var(--color-git);
        }

        &--ps::after {
            @include animationSkills(ps);
        }

        &--ps:hover::after {
            @include animationSkills(ps-reverse);
        }

        &--ps:hover .skill__img-icon {
            fill: var(--color-ps);
        }

        &--basic, &--agile, &--http {
            justify-content: start;
        }

        &--basic:hover .skill__img-icon {
            fill: var(--color-ps);
        }

        &--agile:hover .skill__img-icon {
            fill: var(--color-html5);
        }

        &--http:hover .skill__img-icon {
            fill: var(--color-gray);
        }
    }

    &__img {
        width: 2.8rem;
        height: 2.8rem;

        &-icon {
            width: 2.8rem;
            height: auto;
            fill: var(--color-black);
        }

        &--ts {
            display: block;
            position: relative;
            top: 1px;
            left: 1px;
        }

    }

    &__text {
        margin-left: 0.5rem;
        font-size: 1.5rem;
    }
}