@import url(/CV/src/fonts/fonts.css);
@import url(/CV/src/animations/animations.css);

/* Standart Reset Styles */

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-weight: 400;
}

p {
    margin: 0;
    line-height: 1.6;
}

body{
    margin: 0;
    background-color: #313340;
    font-family: 'Montserrat', sans-serif;
}

/* Helpers */

.dash {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.chain {
    position: absolute;
    left: 0;
    display: block;
    width: 1rem;
    border-left: 1px dashed #000;
}

.chain_education-add {
    top: 4rem;
}

.chain_work-exp {
    top: 1rem;
    left: 0.5rem;
}

/* Grid */

body {
    padding: 0 6rem;
}

.canvas {
    max-width: 110rem;
    margin: 5rem auto 0;
    background-color: #f1f1f1;
    box-shadow: -1.4rem 1.4rem 2.8rem rgba(0,0,0,0.25), -1rem 1rem 1rem rgba(0,0,0,0.22);
    border-radius: 0.1rem;
}

/* Header */

.header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5.5rem 0 2.5rem;
}

.photo {
    display: flex;
    justify-content: center;
    width: 30%;
}

.photo img {
    max-width: 18rem;
    height: auto;
    border-radius: 50%;
    filter: grayscale(1);

    transition: filter 0.3s;
}

.photo img:hover {
    filter: grayscale(0);
}

.header__text  {
    width: 70%;
    margin-left: 2rem;

    font-family: "Comfortaa", sans-serif;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
}

.first-name, .last-name {
    display: block;
}

.first-name {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    line-height: 1.1;
}

.last-name {
    position: relative;
    left: 1px;
    font-weight: 700;
}

.last-name::after {
    content: "";
    width: 81%;
    height: 1px;
    position: absolute;
    left: 4px;
    bottom: 0;
    background: #000;
}

.professional-title {
    position: relative;
    left: 7px;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 0.3rem;
    margin-top: 1.2rem;
}

/* Language Menu */

.lang-menu {
    position: absolute;
    top: 2.5rem;
    right: 3.5rem;
    display: flex;
    justify-content: space-between;
}

.lang-btn {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid #313340;
    background: transparent;
    cursor: pointer;
    text-transform: uppercase;

    transition: background-color 0.3s, color 0.3s;
}

.lang-btn:hover {
    background-color: #313340;
    color: #f1f1f1;
}

.lang-btn_active {
    background-color: #313340;
    color: #f1f1f1;
}

/* Download Menu */

.download-menu {
    position: absolute;
    top: 7rem;
    right: 3.7rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid #313340;

    transition: background-color 0.3s;
}

.download__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.8rem;
    height: 1.8rem;
    fill: #000;

    transition: fill 0.3s;
}

.download-menu:hover {
    background-color: #313340;
}

.download-menu:hover .download__icon_dl{
    fill: #fff;
}

.download-menu__list {
    position: relative;
    width: 100%;
    height: 100%;
    list-style-type: none;
    cursor: pointer;
}

.download-menu:hover .download-menu__list {
    height: 18rem;
}

.download-menu__item {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 4rem;
    height: 4rem;
    border: 1px solid #313340;
    border-radius: 50%;

    opacity: 0;

    transition: background-color 0.3s, top 0.3s ease-out, opacity 0.1s;
}

.download-menu:hover .download-menu__item {
    opacity: 1;
}

.download-menu:hover .download-menu__item_pdf {
    top: 4.5rem;
}

.download-menu:hover .download-menu__item_doc {
    top: 9rem;
}

.download-menu:hover .download-menu__item_ppt {
    top: 13.5rem;
}

.download__icon_pdf, .download__icon_doc, .download__icon_ppt  {
    top: 55%;
    left: 62%;
    width: 2.5rem;
    height: 2.5rem;

    transition: fill 0.3s;
}

.download-menu__item:hover {
    background: #313340;
}

.download-menu__item:hover .download__icon {
    fill: #fff;
}

/* Info */

.info {
    display: flex;
}

.info__title {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;
}

/* Short Info */

.short-info {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 2rem;
    padding: 0 2rem;
}

.contacts, .skills, .languages, .awards {
    order: 1;
}

/* Contacts */

.contacts__content {
    margin-top: 1rem;
    font-size: 1.6rem;
    font-style: normal;
}

.contacts__item {
    display: flex;
    max-width: 29rem;
    margin-top: 0.5rem;
}

.contacts__item-title {
    width: 29%;
    font-weight: 700;
    line-height: 1.2;
}

.contacts__item-text {
    position: relative;
    margin-left: 0.5rem;
    width: 70%;
    line-height: 1.2;
    overflow-wrap: break-word;
    text-decoration: underline;
    text-decoration-color: transparent;
    color: #000;
    transition: text-decoration-color 0.3s;
}

.contacts__item-text:hover {
    text-decoration-color: #000;
}

.contacts__item-text::after {
    content: "";
    width: 2rem;
    height: 2rem;
    position: absolute;
    z-index: 1;

    opacity: 0;

    transition: opacity 0.3s;
}

.contacts__item-text:hover::after {
    opacity: 1;
}

.contacts__item-text_address::after {
    top: 1rem;
    right: -1rem;
    background: url(/CV/src/icons/map-pin.png) no-repeat;
}

.contacts__item-text_email::after {
    top: 1.2rem;
    right: -1.2rem;
    background: url(/CV/src/icons/email.png) no-repeat;
}

.contacts__item-text_telegram::after {
    top: 0.3rem;
    right: 1rem;
    background: url(/CV/src/icons/telegram.png) no-repeat;
}

.contacts__item-text_linkedin::after {
    top: 0.2rem;
    right: 0.5rem;
    background: url(/CV/src/icons/linkedin.png) no-repeat;
}

.contacts__item-text_github::after {
    top: 0.1rem;
    right: 3rem;
    background: url(/CV/src/icons/github.png) no-repeat;
}

/* Skills */

.skills {
    user-select: none;
    margin-top: 2rem;
}

.soft-skill__title {
    margin-top: 4rem;
}

.skills__content {
    margin-top: 1rem;
    list-style-type: none;
}

.skills__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1.9rem;
}

.skills__item::before, .skills__item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1rem;
    height: 4px;
}

.skills__item::before {
    width: 100%;
    background: #dadada;
}

.skills__item::after {
    background: #000;
}

.skills__item_html5::after {
    animation: animateSkillsHtml5 0.5s ease-out 1 normal forwards;
}

.skills__item_css3::after {
    animation: animateSkillsCss3 0.5s ease-out 1 normal forwards;
}

.skills__item_js::after {
    animation: animateSkillsJs 0.5s ease-out 1 normal forwards;
}

.skills__item_ts::after {
    animation: animateSkillsTs 0.5s ease-out 1 normal forwards;
}

.skills__item_angular::after {
    animation: animateSkillsAngular 0.5s ease-out 1 normal forwards;
}

.skills__item_webpack::after {
    animation: animateSkillsWebpack 0.5s ease-out 1 normal forwards;
}

.skills__item_basic::after {
    animation: animateSkillsBasic 0.5s ease-out 1 normal forwards;
}

.skills__item_agile::after {
    animation: animateSkillsAgile 0.5s ease-out 1 normal forwards;
}

.skills__item_http::after {
    animation: animateSkillsHttp 0.5s ease-out 1 normal forwards;
}

.skills__item_git::after {
    animation: animateSkillsGit 0.5s ease-out 1 normal forwards;
}

.skills__item_ps::after {
    animation: animateSkillsPs 0.5s ease-out 1 normal forwards;
}

.skills__img {
    display: inline-block;
    width: 2.8rem;
    height: auto;
}

.skills__text {
    margin-left: 0.5rem;
    font-size: 1.5rem;
}

/* Languages */

.languages {
    margin-top: 4rem;
}

.languages__item {
    margin-bottom: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

.languages__item:last-child {
    margin-bottom: 0;
}

.languages__img {
    margin-right: 0.2rem;
}

.languages__img img {
    max-width: 2.3rem;
    height: auto;
}

.languages__name {
    display: flex;
    width: 100%;
    font-weight: 700;
}

.languages__level {
    width: 100%;
}

/* Awards */

.awards {
    user-select: none;
    margin-top: 3rem;
}

.awards__content {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.awards__card {
    margin: 0.2rem 0.2rem 1.2rem 0;
    display: flex;
    justify-content: center;
    width: 45%;
}

.awards__link {
    position: relative;
    display: block;
    width: 11.3rem;
    height: 8rem;
}

.awards__img-bw {
    max-width: 100%;
    height: auto;
    opacity: 1;

    will-change: transform;
    transition: all 0.3s ease-out;
}

.awards__img-color {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    opacity: 0;

    will-change: transform;
    transition: all 0.3s ease-out;
}

.awards__link:hover .awards__img-bw {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: scale(1.3);
    opacity: 0;
}

.awards__link:hover .awards__img-color {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: scale(1.3);
    opacity: 1;
    z-index: 1;
}


/* Detailed Info */

.detailed-info {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 70%;

    border-left: 1px solid #000;
}

.detailed__title {
    text-align: left;
}

/* Profile */

.profile__text {
    margin-top: 0.7rem;
    font-size: 1.6rem;
    line-height: 1.5;
}

/* Education */

.education {
    margin-top: 2rem;
}

.education__content, .work-exp__content {
    margin-top: 1.5rem;
    padding-left: 0.5rem;
}

.education__higher, .education__additional {
    position: relative;
    margin-top: 1rem;
}

.education__additional {
    position: relative;
}

.education__content-title {
    font-family: "Comfortaa", sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: -0.5rem;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
}

.exp__item {
    margin-bottom: 1rem;
    position: relative;
    font-size: 1.4rem;
    padding-left: 2rem;
}

.exp__item::before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: -0.34rem;
    width: 0.8rem;
    height: 0.8rem;
    background: #000;

    transform: rotate(45deg);

}

.exp__speciality-name {
    margin-top: 0.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3;
}

.exp__institution-name {
    font-size: 1.5rem;
}

/* Work Experience */

.work-exp__content {
    position: relative;
}

/* References */

.references__content {
    margin-top: 0.7rem;
    padding-left: 0.2rem;
    display: flex;
}

.references__item {
    margin-top: 0.5rem;
    width: 45%;
    font-size: 1.5rem;
}

.references__name {
    line-height: 1.2;
    font-weight: 700;
}

.references__name-company {
    font-size: 1.2rem;
}

.references__contact-title {
    margin-top: 0.3rem;
    font-size: 1.4rem;
    font-weight: 700;
    display: inline-block;
}

.references__contact {
    text-decoration: underline;
    font-size: 1.4rem;
    text-decoration-color: transparent;
    color: #000;

    transition: text-decoration-color 0.3s;
}

.references__contact:hover {
    text-decoration-color: #000;
}

/* Footer */

.footer {
    height: 2rem;
}

/* Basement */

.basement {
    height: 5rem;
}

/* Media */

@media (max-width:1200px) {

    /* Header */

    .header {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .photo img {
        max-width: 15rem;
    }

    .header__text  {
        font-size: 2.5rem;
        letter-spacing: 0.4rem;
    }

    .last-name {
        width: 90%;
        line-height: 1.1;
    }

    .last-name::after {
        width: 50rem;
    }

    .professional-title {
        width: 90%;
        margin-top: 0.7rem;
        font-size: 1.3rem;
    }

    /* Contacts */

    .contacts__item {
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .contacts__item-title {
        width: 100%;
    }

    .contacts__item-text {
        width: 100%;
        margin-left: 0;
        margin-top: 0.2rem;
        padding-left: 2.5rem;
    }

    .contacts__item-text::after {
        opacity: 1;
        top: 0;
        left: 0;
    }

    .contacts__item-text_address::after {
        top: 1rem;
    }

    .contacts__item-text_email::after {
        top: 1rem;
    }

    /* Info */

    .short-info, .detailed-info {
        margin-top: 0;
    }

    /* Awards */

    .awards__card {
        width: 15rem;
        margin: 0 1rem 0.5rem;
    }

    .awards__link {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1000px) {

    /* Header */

    .header {
        flex-wrap: wrap;
    }

    .header__text {
        margin-top: 3.5rem;
    }

    .photo {
        width: 100%;
    }

    .header__text  {
        padding: 0 4rem;
        width: 100%;
        margin-left: 0;
        text-align: center;
        font-size: 2.2rem;
        letter-spacing: 0.2rem;
    }

    .first-name, .last-name {
        width: 100%;
    }

    .last-name {
        left: 0;
    }

    .last-name::after {
        width: 100%;
    }

    /* Info */

    .info {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .short-info, .detailed-info {
        width: 100%;
        padding: 0 4rem;
    }

    .detailed__title, .education__content-title {
        text-align: center;
    }

    .education__content {
        margin-top: 0;
    }

    .work-exp, .references {
        margin-top: 2rem;
    }

    .languages {
        margin-top: 3rem;
    }

    .languages__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }

    .languages__item {
        margin-top: 1rem;
        max-width: 100%;
    }

    .languages__item:first-child {
        margin-top: 0rem;
    }

    .languages__name {
        justify-content: center;
    }

    .languages__level {
        text-align: center;
    }

    .references__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
    }

    /* Contacts */

    .contacts {
        margin-top: 2rem;
        margin-bottom: 2rem;
        order: 2;
    }

    .contacts__content {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacts__item {
        max-width: 29rem;
        text-align: center;
    }

    .contacts__item-text {
        padding-left: 0;
    }

    .contacts__item-text::after {
        display: none;
    }

    .detailed-info {
        border: none;
        margin-bottom: 0;
    }
}

@media (max-width: 750px) {

    .references__content {
        flex-wrap: wrap;
        text-align: center;
    }

    .references__item {
        width: 100%;
    }

    .references__item:last-child {
        margin-top: 2rem;
    }
}

@media (max-width: 650px) {

    body {
        padding: 0;
    }

    .canvas {
        margin-top: 0;
    }

    .basement {
        display: none;
    }

    .header__text {
        padding: 0 2rem;
    }

    .first-name, .last-name {
        font-size: 3.5rem;
    }

    .professional-title {
        font-size: 1.2rem;
    }

    .short-info, .detailed-info {
        padding: 0 2rem;
    }
}

@media (max-width: 400px) {
    .lang-menu {
        right: 0.5rem;
    }

    .download-menu {
        right: 0.7rem;
    }

    .first-name, .last-name {
        font-size: 2.5rem;
    }


}