@import url(/CV/src/fonts/fonts.css);

/* Standart Reset Styles */

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-weight: 500;
}

p {
    margin: 0 0 1rem;
    line-height: 1.6;
}

body{
    margin: 0;
    background-color: #f1f1ef;
    font-family: 'Montserrat', sans-serif;
}