@import url(/CV/src/animations/vars.css);

/* Keyframes */

/* Hard Skills */

@keyframes animateSkillsHtml5 {
    from {width: 0;}
    to {width: var(--skills-css3);}
}

@keyframes animateSkillsCss3{
    from {width: 0;}
    to {width: var(--skills-css3)}
}

@keyframes animateSkillsJs{
    from {width: 0;}
    to {width: var(--skills-js)}
}

@keyframes animateSkillsTs{
    from {width: 0;}
    to {width: var(--skills-ts)}
}

@keyframes animateSkillsAngular{
    from {width: 0;}
    to {width: var(--skills-angular)}
}

@keyframes animateSkillsWebpack{
    from {width: 0;}
    to {width: var(--skills-webpack)}
}

/* Soft Skills */

@keyframes animateSkillsBasic{
    from {width: 0;}
    to {width: var(--skills-basic)}
}

@keyframes animateSkillsAgile{
    from {width: 0;}
    to {width: var(--skills-agile)}
}

@keyframes animateSkillsHttp{
    from {width: 0;}
    to {width: var(--skills-http)}
}

@keyframes animateSkillsGit{
    from {width: 0;}
    to {width: var(--skills-git)}
}

@keyframes animateSkillsPs{
    from {width: 0;}
    to {width: var(--skills-ps)}
}