@import url(/CV/src/animations/vars.css);

/* Keyframes */

@keyframes animateSkillsHtml5 {
    from {width: 0;}
    to {width: var(--skills-css3);}
}

@keyframes animateSkillsCss3{
    from {width: 0;}
    to {width: var(--skills-css3)}
}

@keyframes animateSkillsJs{
    from {width: 0;}
    to {width: var(--skills-js)}
}

@keyframes animateSkillsTs{
    from {width: 0;}
    to {width: var(--skills-ts)}
}

@keyframes animateSkillsGit{
    from {width: 0;}
    to {width: var(--skills-git)}
}

@keyframes animateSkillsBasic{
    from {width: 0;}
    to {width: var(--skills-basic)}
}

@keyframes animateSkillsPs{
    from {width: 0;}
    to {width: var(--skills-ps)}
}