:root {
    --color-dark: #313340;
    --color-black: #000000;
    --color-white: #F1F1F1;
    --color-gray: #808080;

    --border: 1px solid var(--color-dark);

    --shadow-canvas: -14px 14px 28px rgba(0,0,0,0.25), -10px 10px 10px rgba(0,0,0,0.22);
    --shadow-card: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    --font-family-base: 'Montserrat', sans-serif;
    --font-family-accent: 'Comfortaa', sans-serif;

    // Skills

    /* Exp level */

    /* Hard skills */
    --skills-html5: 95%;
    --skills-css3: 95%;
    --skills-js: 85%;
    --skills-ts: 70%;
    --skills-angular: 50%;

    /* Soft skills */
    --skills-webpack: 75%;
    --skills-git: 90%;
    --skills-ps: 85%;

    // Principles
    --skills-basic: 90%;
    --skills-agile: 90%;
    --skills-http: 75%;

    /* Icons colors */

    --color-html5: #e44d26;
    --color-css3: #214ce5;
    --color-js: #f0db4f;
    --color-ts: #2d79c7;
    --color-angular: #de002d;
    --color-webpack: #8ED6FB;
    --color-git: #f05033;
    --color-ps: #2861d3;
}