:root {
    --color-dark: #313340;
    --color-black: #000000;
    --color-white: #F1F1F1;
    --color-gray: #808080;

    --color-error: #c8313e;
    --color-error-soft: rgba(200, 49, 62, 0.12);
    --color-success: #1f7a3a;

    --border: 1px solid var(--color-dark);

    --shadow-canvas: -14px 14px 28px rgba(0,0,0,0.25), -10px 10px 10px rgba(0,0,0,0.22);
    --shadow-card: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    --font-family-base: 'Montserrat', sans-serif;
    --font-family-accent: 'Comfortaa', sans-serif;
}