/* Comfortaa */

@font-face {
    font-family: "Comfortaa";
    src: url(/CV/src/fonts/Comfortaa/Comfortaa-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: url(/CV/src/fonts/Comfortaa/Comfortaa-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: url(/CV/src/fonts/Comfortaa/Comfortaa-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: url(/CV/src/fonts/Comfortaa/Comfortaa-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: url(/CV/src/fonts/Comfortaa/Comfortaa-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* Montserrat */

@font-face {
    font-family: "Montserrat";
    src: url(/CV/src/fonts/Montserrat/Montserrat-Thin.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(/CV/src/fonts/Montserrat/Montserrat-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(/CV/src/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(/CV/src/fonts/Montserrat/Montserrat-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(/CV/src/fonts/Montserrat/Montserrat-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(/CV/src/fonts/Montserrat/Montserrat-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
}

/* Poppins */

@font-face {
    font-family: "Poppins";
    src: url(/CV/src/fonts/Poppins/Poppins-Thin.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(/CV/src/fonts/Poppins/Poppins-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(/CV/src/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(/CV/src/fonts/Poppins/Poppins-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(/CV/src/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(/CV/src/fonts/Poppins/Poppins-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
}